@import url("https://fonts.googleapis.com/css2?family=Single+Day&family=Bagel+Fat+One&family=Open+Sans&display=swap");
@import "tailwindcss";

@theme {
  --color-enviro-green-50: #C4D2BE;
  --color-enviro-green-100: #8C9C09;
  --color-enviro-green-200: #576B4E;
  --color-enviro-green-300: #232E27;
  --color-enviro-gray-100: #E2E6E4;
  --color-enviro-blue-100: #8DB4C6;
  --color-enviro-red-100: #B33539;
  --color-enviro-brown-100: #897767;

  --font-enviro-single-day: "Single Day", cursive;
  --font-enviro-bagel-fat-one: "Bagel Fat One", cursive;
  --font-enviro-open-sans: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-enviro-open-sans);
}
