@import url("https://fonts.googleapis.com/css2?family=Single+Day&family=Bagel+Fat+One&family=Open+Sans&display=swap");
@import "tailwindcss";

@theme {
  --color-enviro-green-50: #c4d2be;
  --color-enviro-green-100: #8c9c09;
  --color-enviro-green-200: #576b4e;
  --color-enviro-green-300: #232e27;
  --color-enviro-gray-100: #e2e6e4;
  --color-enviro-blue-100: #8db4c6;
  --color-enviro-red-100: #b33539;
  --color-enviro-brown-100: #897767;

  --font-enviro-single-day: "Single Day", cursive;
  --font-enviro-bagel-fat-one: "Bagel Fat One", cursive;
  --font-enviro-open-sans: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-enviro-open-sans);
}
